{% load i18n %}
{% load static %}
<div class="left-part">
                <a class="logo scroll" href="#wrapper">
                    <img src="{% static 'img/logo.jpg' %}" alt="">
                </a>
            </div>
            <div class="right-part">
                <nav class="main-nav">
                    <div class="toggle-mobile-but">
                        <a href="#" class="mobile-but">
                            <div class="lines"></div>
                        </a>
                    </div>
                    <ul class="main-menu list-inline">
                        <li><a href="#about" class="scroll list-inline-item">{% trans 'About' %}</a></li>
                        <li><a href="#menu" class="scroll list-inline-item">{% trans 'Menu' %}</a></li>
                        <li><a href="#offer" class="scroll list-inline-item">{% trans 'Offer' %}</a></li>
                        <li><a class="scroll list-inline-item" href="#location">{% trans 'Locatiom' %}</a></li>
                        <li><a class="scroll list-inline-item" href="#reservation">{% trans 'Reservation' %}</a></li>
                        <li><a class="scroll list-inline-item" href="#gallery">{% trans 'Gallery' %}</a></li>
                        <li><a class="scroll list-inline-item" href="#contact">{% trans 'Contact' %}</a></li>
                        <li><form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% for lang in LANGUAGES %}
                                    <option value="{{ lang.0 }}"
                                            {% if lang.0 == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                        {{ lang.1 }} ({{ lang.0 }}
                                    </option>
                                {% endfor %}
                            </select>
                        <input type="submit" class="scroll list-inline-item" value="{% trans 'Go' %}" />
                        </form> </li>
                    </ul>
                </nav>
            </div>